<!DOCTYPE html>
<html>
  <head>  
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <p>
        <input type="password" id="password" value=""/>
        <input type="button" id="submit" value="submi"/>
    </p>
  </body>
</html>
