<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>
        <input type="textbox" id="password" value="default"/>
    </p>
  </body>
</html>
