<DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Set Scheme</h2>
    <div id="scheme">
      <p><input type="checkbox" id="length" value="length">Password length must be greater than <input type="number" id="lengthval" value=""/></p>
      <p><input type="checkbox" id="capital" value="capital">Must contain capital letters</p>
      <p><input type="checkbox" id="number" value="number">Require numbers</p>
      <p><input type="checkbox" id="speical" value="speical">Require special characters</p>
    </div>
    <h2>Validator</h2>
    <div>
      <label for="password">Password: </label>
      <input type="password" id="password" value=""/>
    </div>
  </body>
</html>
