<DOCTYPE html>
<html>
  <!-- everything needed is included in header-->
  <% include ./include/head %>

  <body>
    <h1><%= title %></h1>
    <form action="/" onsubmit="return isValidPassWord()">
      <div class="col-xs-12 col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Set Password Scheme</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <input type="checkbox" id="lengthBox" value="length" checked>
              <label for="lengthval">Password length must be at least</label>
              <input class="form-control input-sm" type="number" id="lengthval" value="6">
            </div>
            <div class="form-group">
              <input type="checkbox" id="lowercaseBox" value="lowercase">
              <label for="capital">Must contain at least one lowercase letter</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="uppercaseBox" value="uppercase">
              <label for="capital">Must contain at least one uppercase letter</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="numberBox" value="number">
              <label for="number">Must contain at least one number</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="specialBox" value="special">
              <label for="special">Must contain at least one special character (!@#$%?)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Validator</h3>
          </div>
          <div class="panel-body">
            <div id="errors"> </div>
            <div class="form-group" id="validator">
              <p><label for="password">Password (Plain text for demo)</label><input class="form-control" type="text" id="password" value=""></p>
              <p><input class="btn btn-primary" type="button" id="validate" value="Validate"></p>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script type="text/template" id="successMsg">
      <ul class="list-group">
        <li class="list-group-item" style="background:#99ff99; border:none">
          Valid Password!
        </li>
      </ul>
    </script>

    <script type="text/template" id="errorListItem">
        <li class="list-group-item" style="background:#ff9999; border:none">
          error
        </li>
    </script>

    <script type="text/template" id="errorList">
      <ul class="list-group">
        item
      </ul>
    </script>

    <% include ./include/bootstrap %>
    <script src="/javascript/password_validator.js"></script>
  </body>
</html>
