<DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form action="/" onsubmit="return isValidPassWord()">
      <div class="col-xs-12 col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Set Scheme</h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <input type="checkbox" id="lengthBox" value="length" checked onclick="setPasswordScheme()">
              <label for="lengthval">Password length must be greater than (minimum 6)</label>
              <input class="form-control input-sm" type="number" id="lengthval" min="6" value="6">
            </div>
            <div class="form-group">
              <input type="checkbox" id="lowercaseBox" value="lowercase" onClick="setPasswordScheme()">
              <label for="capital">Must contain at least one lowercase letter</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="uppercaseBox" value="uppercase" onClick="setPasswordScheme()">
              <label for="capital">Must contain at least one uppercase letter</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="numberBox" value="number" onClick="setPasswordScheme()">
              <label for="number">Must contain at least one number</label>
            </div>
            <div class="form-group">
              <input type="checkbox" id="specialBox" value="special" onClick="setPasswordScheme()">
              <label for="special">Must contain at least one special character (!@#$%?)</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-5">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Validator</h3>
          </div>
          <div class="panel-body">
            <div id="errors"> </div>
            <div class="form-group" id="validator">
              <p><label for="password">Password (Plain text for demo)</label><input class="form-control" type="text" id="password" value=""></p>
              <p><input class="btn btn-primary" type="button" id="validate" value="Validate"></p>
            </div>
          </div>
        </div>
      </div>
    </form>

    <script type="text/template" id="successMsg">
      <ul class="list-group">
        <li class="list-group-item" style="background:#99ff99; border:none">
          Valid Password!
        </li>
      </ul>
    </script>
    
    <script type="text/template" id="errorListItem">
        <li class="list-group-item" style="background:#ff9999; border:none">
          error
        </li>
    </script>

    <script type="text/template" id="errorList">
      <ul class="list-group">
        item
      </ul>
    </script>

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="/javascript/password_validator.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
