<DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= pmpt %></h1>
    <p>
        <input type="textbox" id="password" value=""/>
        <input type="button" id="submit" value="submit"/>
        <input type="checkbox" id="length" value="greater">Set password greater than
        <input type="text" id="size" value=""/> <br>
        <input type="checkbox" id="capital" value="capital">Enable capitalization<br>
        <input type="checkbox" id="number" value="number">Enable numbers<br>
        <input type="checkbox" id="speical" value="speical">Enable special characters
    </p>
  </body>
</html>
