/*New stylesheet for landing page*/
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

hr {
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 250px;
}

h1 {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #34495e;
    font-weight: 700;

}

#h1Custom{
    color: #fff;
}

/*
    <h3> format for footer
*/
#format_Footer_h3{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    color: #ffae00;
    font-weight: 400;

}

h4 {
    font-family: "Raleway", sans-serif;
    color: #34495e;
    font-weight: 400;
    line-height: 1.4;
}



.rowPadding{
    padding:20px;
}

section{
    padding: 50px 0;
}

#custom_hr{
    border-color: #ffae00;
    border-width: 3px;
    max-width: 75px;
}

#custom_hr2{
    border-color: rgba(255, 255, 255, 0.7);
    border-width: 3px;
    max-width: 75px;
}
/*** Call to Action Butto***/
.call-to-action h2 {
    margin: 0 auto 20px;
}
.text-primary {
    color: #071C33;
}
.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
}
.btn-default {
    color: #222222;
    background-color: #ffffff;
    border-color: #ffffff;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
    background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn-default .badge {
    color: #ffffff;
    background-color: #222222;
}
.btn-primary {
    color: #ffffff;
    background-color: #071C33;
    border-color: #ffae00;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #ffffff;
    background-color: #ffae00;
    border-color: #ffae00;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #071C33;
    border-color: #071C33;
}
.btn-primary .badge {
    color: #071C33;
    background-color: #ffffff;
}
.btn {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}
.btn-xl {
    padding: 15px 30px;
}
::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
}
::selection {
    color: white;
    text-shadow: none;
    background: #222222;
}

/***Carousel***/
.carousel{
    background: #ffae00;
    margin-top: 20px;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

/***Footer***/
footer {
    color: white;
}
footer h3 {
    margin-bottom: 30px;
}
footer .footer-above {
    padding-top: 50px;
    background-color: #092543;
    border-color: #092543;
}
footer .footer-col {
    margin-bottom: 50px;
}
footer .footer-below {
    padding: 25px 0;
    background-color: #071C33;
    border-top-color: #ffae00;
}

.btn-social {
    display: inline-block;
    height: 50px;
    width: 50px;
    border: 2px solid white;
    border-radius: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 45px;
}
.btn:focus,
.btn:active,
.btn.active {
    outline: none;
}

footer a{
    color: #ffae00;
}

/********************* NavBar CSS **************************/
/*
    Editing Bootstrap navbar colors is very hacky.
*/
.navbar{
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: #071C33;
    border-color: #071C33;
    font-family: "Open Sans","Helvetica Neue",Arial,sans-serif;
    font-weight: 700;
    color: #FFF;
    text-transform: uppercase;
}
.navbar-default .navbar-brand {
    color: #ffae00;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffae00;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffae00;
    background-color: #071C33;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #071C33;
}
.navbar-default .navbar-toggle {
    border-color: #071C33;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #071C33;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffae00;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffae00;
}
.navbar-default .navbar-link {
    color: #ffae00;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffae00;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffae00;
        background-color: #071C33;
    }
}

.navbar-collapse, .navbar{
    border-bottom-color: #ffae00;
}

.navbar-landing-padding{
    margin-right: 5px;
}

/***Contact form***/
.btn-warning{
    background-color: #071C33;
}

.btn-warning:hover{
    color: #071C33;
    background-color: #fff;
}

.control-label{
    color: #fff;
    text-shadow: 1px 0 #071C33, 0 1px #071C33, 1px 0 #071C33, 0 1px #071C33;
}

.form-color{
    border: 3px solid #071C33 !important;
}

.input-group-addon{
    border: 3px solid #071C33;
}

textarea.form-control {
    height: 100px;
}
/*** HEADER**/

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../images/bgFilter.jpg');
    text-align: center;
    color: white;
}
header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
}
header .header-content .header-content-inner h1 {
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    color: #FFF;
    margin-bottom: 0;
    text-shadow: 2px 2px 0px #000;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 16px;
    margin-bottom: 50px;
    text-shadow: 2px 2px 0px #000;
}
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }
    header .header-content {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
    header .header-content .header-content-inner {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    header .header-content .header-content-inner p {
        font-size: 32px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    header .header-content .header-content-inner h1 {
        font-size: 42px;
    }
}

/***** Testimonials *****/
.testimonial {
    margin: 50px auto;
    background: #fff;
    padding: 20px 30px;
    color: #071C33;
    font-style: italic;
    width: 70%;
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
    margin-top: -50px;
    margin-left: 140px;
}

.testimonial-author {
    margin: 10px 0 0 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: #071C33;
    font-size: 15px;
    text-align: left;
}

.testimonial-image {
    margin: 10px 0 0 120px;
    font-family: Arial, Helvetica, sans-serif;
    color: #999999;
    text-align:left;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
}

.testimonial-grey {
    background: #fff;
    color: #071C33;
}

.arrow-down-grey {
    border-top: 15px solid #fff;
}

.testimonial-author {
    font-size: 12px;
    color: #fff;
}

/*************** Pricing Charts (Landing Page) **************/
.panel.price,
.panel.price>.panel-heading{
    border-radius:0px;
    -moz-transition: all .3s ease;
    -o-transition:  all .3s ease;
    -webkit-transition:  all .3s ease;
}
.panel.price:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2);
}
.panel.price:hover>.panel-heading{
    box-shadow: 0px 0px 30px rgba(0,0,0, .2) inset;
}


.panel.price>.panel-heading{
    box-shadow: 0px 5px 0px rgba(50,50,50, .2) inset;
    text-shadow:0px 3px 0px rgba(50,50,50, .6);
}

.price .list-group-item{
    border-bottom-:1px solid rgba(250,250,250, .5);
}

.panel.price .list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.panel.price .list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.price .panel-footer {
    color: #fff;
    border-bottom:0px;
    background-color:  rgba(0,0,0, .1);
    box-shadow: 0px 3px 0px rgba(0,0,0, .3);
}


.panel.price .btn{
    box-shadow: 0 -1px 0px rgba(50,50,50, .2) inset;
    border:0px;
}

.price.panel-green>.panel-heading {
    color: #fff;
    background-color: #ffae00;
    border-color: #ffae00;
    border-bottom: 1px solid #ffcf66;
}


.price.panel-green>.panel-body {
    color: #fff;
    background-color: #ffc64d;
}


.price.panel-green>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-green .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    font-size: 24px;
}

.price.panel-red>.panel-heading {
    color: #fff;
    background-color: #071C33;
    border-color: #071C33;
    border-bottom: 1px solid #071C33;
}


.price.panel-red>.panel-body {
    color: #fff;
    background-color: #092543;
}


.price.panel-red>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}

.price.panel-red .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
    font-size: 24px;
}

#chartCheck {
    color: green;
}

#chartX {
    color: red;
}
.list-group{
    color: #888a8c;
}

.btn-success {
    background-color: #ffae00;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #ffae00;
}

.btn-danger {
    background-color: #071C33;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    border-radius: 4px; /* Overrides bootstrap rounded corners*/
    border-color: #071C33;
}

.btn-success:hover {
    background-color: #ffae00;
    color: #ffffff;
}

.btn-danger:hover {
    background-color: #071C33;
    color: #ffffff;
}


/******** Login Page Form ****/
.form-control{
    margin: 0 auto;
    width: 300px;
    border:3px solid #071C33;
}

.control-label, .label{
    font-size: 18px;
}

.form-control:focus{
    border-color: #ffae00;
}

/**Invalid login information**/
.alert-danger {
    width: 50%;
    margin: 0 auto;
}

/********************* Registration Page **************************/
.centerForm{
    margin: 0 auto;
    color: black;
}

.centerForm:focus{
    border-color: #ffae00;
}

.regis {
    display: block;
    margin-bottom: 15px;
    margin-top: 20px;
    height: 35px;
    width: 300px;
    border:3px solid #071C33;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.regTitleColor{
    color: #fff;
    text-shadow: 1px 0 #071C33, 0 1px #071C33, 1px 0 #071C33, 0 1px #071C33;
}

.custom-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#regis-container {
    margin-top: 20px;
    margin-bottom: 150px;
}

#form-separator {
    border-right: 2px solid;
    border-color: #999999;
}

#register-image {
    margin-left: 100px;
    margin-top: -10px;
    width:500px;
}

/**** Mobile Only ****/
@media only screen and (max-device-width: 480px){
    p{
        font-size:24px;
    }

    .align-overview-mobile{
        text-align: left;
    }

    h4{
        text-align: left;
        font-size: 30px;
    }
    h3{
        font-size: 32px;
    }
    .btn{
        font-size: 30px !important;
    }
    .btn-x1{
        padding: 15px 30px !important;
    }

    .fa-5x {
        font-size: 7em;
    }

}